*, ::before, ::after 
{
	box-sizing: border-box;
    font-family: Orbitron;
    color: rgb(255, 0, 0);
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
h1{
    margin: 0;
    text-shadow: 
    /* 0 0 5px #fff,  First glow layer (small and close) */
    0 0 10px #fff, /* Second glow layer */
    0 0 20px #ff00ff, /* Third glow layer, colored */
    0 0 30px #ff00ff, /* Larger glow effect */
    0 0 40px #ff00ff;
}

#header{
    font-size: 40px;
    margin-bottom: 0;
}

#header h1{
    margin-bottom: 0;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid #9fecff;
    box-shadow: 0 0 7px 5px #1435f0, inset 0 0 7px 5px #1435f0;
    padding: 5px;
    gap: 10px;
}
/* arrow means direct child.
styling wont be applied to child divs of divs in #content */
#content > div{
    margin: 10px;
}

#singlePlayer-link{
    margin: 10px 10px 0 10px;
}


#content-multiplayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


button{
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}
button:hover{
    background-color: rgb(163, 161, 161);
    cursor: pointer;
}
#lobbyInput, button{
    border: 2px solid #9fecff;
    box-shadow: 0 0 7px 2px #1435f0, inset 0 0 7px 2px #1435f0;
    font-size: 18px;
}

#lobbyInput{
    width: 100px;
}
#form{
    display: flex;
    margin-top: 10px;
}

#form{
    gap: 10px;
}
